<h1>Find jobs</h1>
<h3><%= link_to "Do you want to create a new job instead?", new_job_path %></h3>
We have <%= Job.count %> jobs and counting!

<label>
  <input> a
</label>
<h1>All available Jobs</h1>

<ul>
  <% @jobs.each do |job| %>
    <% unless job.archived? %>
      <li>
        <%= link_to job.title, job %>
      </li>
    <% end %>
  <% end %>
</ul>
--------------------------------------<br><br>
<%= link_to "Carlo Bortolan", "https://github.com/carlobortolan" %><br>
<%= link_to "Jan Hummel", "https://github.com/github4touchdouble" %><br>
