<h1>Find jobs</h1>
<h3><%= link_to "Do you want to create a new job instead?", new_job_path %></h3>

<% my_args = { "account_id" => 1, "latitude" => 1.0, "longitude" => 1.0, "radius" => 1.0, "time" => Time.new(2022, 11, 11, 0, 0, 0), "limit" => 5 } %>

<h1>Your parameters </h1>
<%= form_tag :action => 'find' do %>
  Your coordinates:
  <%= number_field_tag :longitude %>
  <%= number_field_tag :latitude %><br>
  Search within radius:
  <%= number_field_tag :radius %><br>
  Search within timeslot:
  <%= datetime_local_field_tag :time, default = Time.now %><br>
  Set maximum number of jobs shown:
  <%= number_field_tag :"" %><br>
  <%= email_field_tag :"" %><br>
  <%= image_submit_tag :"" %><br>
  <%= password_field_tag :"" %><br>
  <%= range_field_tag :"" %><br>
  <%= search_field_tag :"" %><br>
  <%= telephone_field_tag :"" %><br>
  <%= telephone_field_tag :"" %><br>
  <%= submit_tag "Submit" %>
<% end %>

<h1>Matched jobs</h1>
<%= "RESULTS = #{@result.to_s}" %>
<h1>All available jobs</h1>
We have <%= Job.count %> jobs and counting!
<ul>
  <% @jobs.each do |job| %>
    <% unless job.archived? %>
      <li>
        <b><%= link_to job.title, job %></b>
        <%= link_to "(apply)", new_job_application_path(job) %>
      </li>
    <% end %>
  <% end %>
</ul>

--------------------------------------<br><br>
<%= link_to "Carlo Bortolan", "https://github.com/carlobortolan" %><br>
<%= link_to "Jan Hummel", "https://github.com/github4touchdouble" %><br>
