<h1>Whats next?</h1>
<h3><%= link_to "Search for jobs", "<tmp>" %></h3>
<h3><%= link_to "New Job", new_job_path %></h3>
<!--Our blog has <%#= Job.public_count %> jobs and counting!-->
<h1>All available Jobs:</h1>

<ul>
  <% @jobs.each do |job| %>
    <% unless job.archived? %>
      <li>
        <%= link_to job.title, job %>
      </li>
    <% end %>
  <% end %>
</ul>
<br><%= link_to "Carlo Bortolan", "https://github.com/carlobortolan" %><br>
<%= link_to "Jan Hummel", "" %><br>
