<h1>Authentication</h1>

<% if Current.user %>
  <% @user = Current.user %>
  Logged in as: <%= Current.user.email %><br>
  <%= link_to 'Edit Password', edit_password_path %>
  <%= button_to 'Logout', logout_path, method: :delete %>
  <%= button_to 'View all available jobs', jobs_path, method: :get %>
  <%= button_to 'View submitted applications', own_applications_path, method: :get %>
  <%= button_to 'View your jobs', own_jobs_path, method: :get %>
  <%= button_to 'View your reviews', reviews_index_path, method: :get %>
  <%= button_to 'View review for specific user', reviews_for_user_index_path, method: :get %>
<% else %>
  <%= link_to 'Sign Up', sign_up_path %>
  or
  <%= link_to 'Login', sign_in_path %>
<% end %>