<div class="container card">
  <h1>Welcome to JobFinder</h1>


  <% if Current.user %>
    <% @user = Current.user %>

    <%= button_to 'View all available jobs', jobs_path, method: :get %>
    <%= button_to 'View submitted applications', own_applications_path, method: :get %>
    <%= button_to 'View your jobs', own_jobs_path, method: :get %>
    <%= button_to 'View your reviews', reviews_path, method: :get %>
    <%= button_to 'View review for specific user', reviews_user_path, method: :get %>
  <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>
</div>
