<form id="app-login" action="process.php">
  <fieldset>
    <legend>Login Details</legend>
    <div>
      <label for="user-name">Username:</label>
      <input name="user-name" type="email" placeholder="Your username is your email address" required autofocus>

    </div>
    <div>
      <label for="password">Password:</label>
      <input name="password" type="password" placeholder="6 digits, a combination of numbers and letters" required>
    </div>
    <div>
      <input name="login" type="submit" value="Login">
    </div>
  </fieldset>
</form>

2022-12-03 09:09:00

<%= link_to jobs_find_path(@jobs) %>

<%= number_field_tag :"" %><br>
<%= email_field_tag :"" %><br>
<%= image_submit_tag :"" %><br>
<%= password_field_tag :"" %><br>
<%= range_field_tag :"" %><br>
<%= search_field_tag :"" %><br>
<%= telephone_field_tag :"" %><br>
<%= telephone_field_tag :"" %><br>